.list {
  counter-reset: list;
}
.list ul,
.list .list .list {
  padding-left: 2rem;
}
.list h2 {
  @apply pb-3 pt-5 text-left text-2xl leading-tight before:text-xl
           sm:text-3xl sm:before:text-2xl;
}
.list h2:before,
.list div:not(.list, .contents):before {
  counter-increment: list;
  content: counters(list, '.') '.';
  @apply mr-2 font-medium text-slate-400;
}
code {
  @apply font-mono text-lg text-slate-500;
}
